#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "retroarch"
name = "Retroarch Web Player"
description.en = "Emulate videogames system and play videogames through your web browser"
description.fr = "Emulez des consoles de jeux et jouer à ces jeux vidéos dans votre explorateur web"

version = "1.21.0~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "GPL-3.0-or-later"
website = "http://www.retroarch.com/"
demo = "https://web.libretro.com/"
admindoc = "https://docs.libretro.com/"
userdoc = "https://docs.libretro.com/"
code = "https://github.com/libretro/RetroArch"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "1G"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/retroarch"

    [install.init_main_permission]
    help.en = "Yes will allow everyone to access the app without login to yunohost instance first"
    help.fr = "Oui autorisera n'importe qui à accéder à l'application sans s'identifier dans Yunohost"
    type = "group"
    default = "visitors"

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://buildbot.libretro.com/stable/1.21.0/emscripten/RetroArch.7z"
    sha256 = "014b3eb4a572b67c20aedd68bbce088fee43f3713b69039db15e02079cab7d5e"
    format = "whatever"
    in_subdir = true
    extract = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.needs_manual_tweaks = true

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "p7zip"

    [resources.nodejs]
    version = "10"